services:
  topic-rail:
    build:
      context: ../..
      dockerfile: services/orion-topic-rail/Dockerfile
    container_name: orion-${NODE_NAME}-topic-rail
    restart: unless-stopped
    networks:
      - app-net
    environment:
      - SERVICE_NAME=${SERVICE_NAME}
      - SERVICE_VERSION=${SERVICE_VERSION}
      - NODE_NAME=${NODE_NAME}
      - LOG_LEVEL=${LOG_LEVEL}
      - TOPIC_RAIL_PG_DSN=${TOPIC_RAIL_PG_DSN}
      - TOPIC_RAIL_EMBEDDING_URL=${TOPIC_RAIL_EMBEDDING_URL}
      - TOPIC_RAIL_MODEL_DIR=${TOPIC_RAIL_MODEL_DIR}
      - TOPIC_RAIL_MODEL_VERSION=${TOPIC_RAIL_MODEL_VERSION}
      - TOPIC_RAIL_POLL_SECONDS=${TOPIC_RAIL_POLL_SECONDS}
      - TOPIC_RAIL_TRAIN_LIMIT=${TOPIC_RAIL_TRAIN_LIMIT}
      - TOPIC_RAIL_ASSIGN_LIMIT=${TOPIC_RAIL_ASSIGN_LIMIT}
      - TOPIC_RAIL_TRAIN_TIME_WINDOW_DAYS=${TOPIC_RAIL_TRAIN_TIME_WINDOW_DAYS}
      - TOPIC_RAIL_RUN_ONCE=${TOPIC_RAIL_RUN_ONCE}
      - TOPIC_RAIL_MODE=${TOPIC_RAIL_MODE}
      - TOPIC_RAIL_FORCE_REFIT=${TOPIC_RAIL_FORCE_REFIT}
      - TOPIC_RAIL_DOC_MODE=${TOPIC_RAIL_DOC_MODE}
      - TOPIC_RAIL_CALC_PROBS=${TOPIC_RAIL_CALC_PROBS}
      - TOPIC_RAIL_USE_KEYBERT=${TOPIC_RAIL_USE_KEYBERT}
      - TOPIC_RAIL_MIN_TOPIC_SIZE=${TOPIC_RAIL_MIN_TOPIC_SIZE}
      - TOPIC_RAIL_NGRAM_RANGE=${TOPIC_RAIL_NGRAM_RANGE}
      - TOPIC_RAIL_STOPWORDS=${TOPIC_RAIL_STOPWORDS}
      - TOPIC_RAIL_INCLUDE_SESSION=${TOPIC_RAIL_INCLUDE_SESSION}
      - TOPIC_RAIL_EMBEDDING_RETRIES=${TOPIC_RAIL_EMBEDDING_RETRIES}
      - TOPIC_RAIL_EMBEDDING_BACKOFF_SEC=${TOPIC_RAIL_EMBEDDING_BACKOFF_SEC}
      - TOPIC_RAIL_SUMMARY_ENABLED=${TOPIC_RAIL_SUMMARY_ENABLED}
      - TOPIC_RAIL_SUMMARY_WINDOW_MINUTES=${TOPIC_RAIL_SUMMARY_WINDOW_MINUTES}
      - TOPIC_RAIL_SUMMARY_MIN_DOCS=${TOPIC_RAIL_SUMMARY_MIN_DOCS}
      - TOPIC_RAIL_SUMMARY_MAX_TOPICS=${TOPIC_RAIL_SUMMARY_MAX_TOPICS}
      - TOPIC_RAIL_DRIFT_ENABLED=${TOPIC_RAIL_DRIFT_ENABLED}
      - TOPIC_RAIL_DRIFT_WINDOW_MINUTES=${TOPIC_RAIL_DRIFT_WINDOW_MINUTES}
      - TOPIC_RAIL_DRIFT_MIN_TURNS=${TOPIC_RAIL_DRIFT_MIN_TURNS}
      - TOPIC_RAIL_BUS_PUBLISH_ENABLED=${TOPIC_RAIL_BUS_PUBLISH_ENABLED}
      - TOPIC_RAIL_BUS_URL=${TOPIC_RAIL_BUS_URL}
      - TOPIC_RAIL_BUS_TOPIC_SUMMARY_CHANNEL=${TOPIC_RAIL_BUS_TOPIC_SUMMARY_CHANNEL}
      - TOPIC_RAIL_BUS_TOPIC_SHIFT_CHANNEL=${TOPIC_RAIL_BUS_TOPIC_SHIFT_CHANNEL}
      - TOPIC_RAIL_SHIFT_SWITCH_RATE_THRESHOLD=${TOPIC_RAIL_SHIFT_SWITCH_RATE_THRESHOLD}
      - TOPIC_RAIL_ALLOW_EMBED_MODEL_MISMATCH=${TOPIC_RAIL_ALLOW_EMBED_MODEL_MISMATCH}
      - TOPIC_RAIL_REFIT_POLICY=${TOPIC_RAIL_REFIT_POLICY}
      - TOPIC_RAIL_REFIT_TTL_HOURS=${TOPIC_RAIL_REFIT_TTL_HOURS}
      - TOPIC_RAIL_REFIT_DOC_THRESHOLD=${TOPIC_RAIL_REFIT_DOC_THRESHOLD}
      - TOPIC_RAIL_ALLOW_REFIT_IN_DAEMON=${TOPIC_RAIL_ALLOW_REFIT_IN_DAEMON}
      - TOPIC_RAIL_OUTLIER_ENABLED=${TOPIC_RAIL_OUTLIER_ENABLED}
      - TOPIC_RAIL_OUTLIER_MAX_PCT=${TOPIC_RAIL_OUTLIER_MAX_PCT}
      - TOPIC_RAIL_HTTP_ENABLED=${TOPIC_RAIL_HTTP_ENABLED}
      - TOPIC_RAIL_HTTP_PORT=${TOPIC_RAIL_HTTP_PORT}
    volumes:
      - /mnt/telemetry/models/topic-rail:/mnt/telemetry/models/topic-rail
    env_file:
      - .env

networks:
  app-net:
    external: true
