services:

  hub-app:
    build:
      context: ../..
      dockerfile: services/orion-hub/Dockerfile
    container_name: ${PROJECT}-hub
    network_mode: "host"
    #ports:
      #- "${HUB_PORT}:${HUB_PORT}" # if running brain and hub on single node
    restart: unless-stopped
    depends_on:
      coqui-tts:
        condition: service_started
    volumes:
      - ./templates:/app/templates
      - /mnt/telemetry/models/whisper/${WHISPER_MODEL_SIZE}:/root/.cache/huggingface/hub/models--distil-whisper--${WHISPER_MODEL_SIZE}
    environment:
      # Core service identity
      - PROJECT=${PROJECT}
      - SERVICE_NAME=${SERVICE_NAME}
      - SERVICE_VERSION=${SERVICE_VERSION}
      - HUB_PORT=${HUB_PORT}

      # Whisper + Brain
      - WHISPER_MODEL_SIZE=${WHISPER_MODEL_SIZE}
      - WHISPER_DEVICE=${WHISPER_DEVICE}
      - WHISPER_COMPUTE_TYPE=${WHISPER_COMPUTE_TYPE}
      - BRAIN_URL=${BRAIN_URL}
      - LLM_MODEL=${LLM_MODEL}

      # Orion Bus
      - ORION_BUS_URL=${ORION_BUS_URL:-${ORION_BUS_URL}}
      - ORION_BUS_ENABLED=${ORION_BUS_ENABLED}

      # Channels
      - CHANNEL_VOICE_TRANSCRIPT=${CHANNEL_VOICE_TRANSCRIPT}
      - CHANNEL_VOICE_LLM=${CHANNEL_VOICE_LLM}
      - CHANNEL_VOICE_TTS=${CHANNEL_VOICE_TTS}
      - CHANNEL_COLLAPSE_INTAKE=${CHANNEL_COLLAPSE_INTAKE}
      - CHANNEL_COLLAPSE_TRIAGE=${CHANNEL_COLLAPSE_TRIAGE}
      # Brain channels
      - CHANNEL_BRAIN_INTAKE=${CHANNEL_BRAIN_INTAKE}
      - CHANNEL_BRAIN_OUT=${CHANNEL_BRAIN_OUT}

      # Static / optional GPU and TTS service
      #- TTS_URL=http://coqui-tts:5002/api/tts
      - TTS_URL=${TTS_URL}
      - NVIDIA_VISIBLE_DEVICES=all

    runtime: nvidia
    #networks:
    #  - ${NET}

  coqui-tts:
    image: ghcr.io/coqui-ai/tts-cpu
    container_name: ${PROJECT}-hub-tts
    ports:
      - "5002:5002"
    volumes:
      - /mnt/telemetry/models/coqui/tts:/root/.local/share/tts
    environment:
      - TTS_MODEL_NAME=tts_models/en/ljspeech/vits
    restart: unless-stopped
    entrypoint: tts-server
    networks:
      - ${NET}

networks:
  app-net:
    external: true

