services:
  dream:
    build:
      context: ../..
      dockerfile: services/orion-dream/Dockerfile
    container_name: ${PROJECT}-dream
    restart: unless-stopped
    networks:
      - app-net
    environment:
      - SERVICE_NAME=${SERVICE_NAME}
      - SERVICE_VERSION=${SERVICE_VERSION}
      - ORION_BUS_URL=${ORION_BUS_URL}
      - ORION_BUS_ENABLED=${ORION_BUS_ENABLED}
      - CHANNEL_DREAM_TRIGGER=${CHANNEL_DREAM_TRIGGER}
      - POSTGRES_URI=${POSTGRES_URI}
      - GRAPHDB_URL=${GRAPHDB_URL}
      - BRAIN_URL=${BRAIN_URL}
      - NODE_NAME=${NODE_NAME}
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./sql:/app/sql
      - /mnt/storage-lukewarm/logs/dream/logs:/app/logs
    env_file:
      - .env

networks:
  app-net:
    external: true
